<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-user fa-2x" aria-hidden="true"></i>&nbsp;PROFILE</div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" ui-sref="register" class="list-group-item">
                        <h4 class="list-group-item-heading">Register an Employee</h4>
                        <p class="list-group-item-text">Create an account for an employee.</p>
                    </a>
                </div>
                <div class="list-group">
                    <a href="#" ui-sref="profile" class="list-group-item">
                        <h4 class="list-group-item-heading">Modify your profile</h4>
                        <p class="list-group-item-text">Click here to modify your information i.e. Firstname, etc.</p>
                    </a>
                </div>
                <div class="list-group">
                    <a href="#" ui-sref="editProfile" class="list-group-item">
                        <h4 class="list-group-item-heading">Edit your profile</h4>
                        <p class="list-group-item-text">Click here to modify your information i.e. Firstname, etc.</p>
                    </a>
                </div>
                <div class="list-group">
                    <a href="#" ui-sref="image" class="list-group-item">
                        <h4 class="list-group-item-heading">Upload your picture</h4>
                        <p class="list-group-item-text">Click here to upload your picture.</p>
                    </a>
                </div>
            </div>
        </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>&nbsp;FORMS</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-user fa-2x" aria-hidden="true"></i>&nbsp;REPORTS</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
    </div>
</div>