<!--<div id="footer" class="navbar navbar-fixed-bottom">
    <div class="container">
        <div col="row">
            <table class="table table-bordered text-primary">
                <tr>
                    <td>Address:
                    76 Manhunt Lane, Zombieland, BZ
                    </td>
                    <td>kjhkj</td>
                    <td>kjhjk</td>
                    <td>kjhkj</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">Created by Loopscale. Twitter: <a target="_blank" href="http://twitter.com/msx86">@msx86</a></p>
            </div>
            <div class="col-md-6">
                <p class="text-muted">Company: <a target="_blank" href="http://www.loopscale.com">loopscale.com</a></p>
            </div>
            </div>
    </div>
</div>-->

<!--footer-->
<footer class="footer1 container-fluid">
    <div class="container-fluid">

        <div class="row">
            <!-- row -->

            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Useful links</h1>

                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                     </ul>

                    </li>

                </ul>


            </div><!-- widgets column left end -->



            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Useful links</h1>

                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
                        
                        </ul>

                    </li>

                </ul>


            </div><!-- widgets column left end -->



            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Useful links</h1>

                        <ul>


                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Online Test Series</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Grand Tests Series</a></li>
                    
                        </ul>

                    </li>

                </ul>


            </div><!-- widgets column left end -->


            <div class="col-lg-3 col-md-3">
                <!-- widgets column center -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->
                    <li class="widget-container widget_recent_news">
                        <!-- widgets list -->
                        <h1 class="title-widget">Contact Detail </h1>

                        <div class="footerp">
                            <h2 class="title-median">Loopscale Inc.</h2>
                            <p><b>Email:</b> <a href="mailto:info@loopscale.com">info@loopscale.com</a></p>
                            <p>
                                <b>Phone</b>
                                617.257.6226, 404.919.9439
                            </p>

                            <p><b>Corp Office</b> 580 Boylston Street, Boston MA 02156</p>
                        </div>

                        <div class="social-icons">

                            <ul class="nomargin">

                                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--header-->

<!--<div class="footer-bottom">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2016, Loopscale, All rights reserved
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="#"><a target="_blank" href="http://www.loopscale.com">Developed by Loopscale</a>
                </div>
            </div>
        </div>
    </div>
</div>-->