<div class="container-fluid" role="navigation" data-ng-controller="indexController">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="#/">Home</a>
        </div>
        <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="!authentication.isAuth"><a ui-sref="#">Welcome {{authentication.userName}}</a></li>
                <li data-ng-hide="!authentication.isAuth"><a ui-sref="orders">My Orders</a></li>
                <li data-ng-hide="!authentication.isAuth"><a ui-sref="dashboard">My Dashboard</a></li>
                <li data-ng-hide="!authentication.isAuth"><a ui-sref="refresh">Refresh Token</a></li>
                <li data-ng-hide="!authentication.isAuth"><a href="#" data-ng-click="logOut()">Logout</a></li>
                <li data-ng-hide="authentication.isAuth"> <a ui-sref="login">Login</a></li>
                <li data-ng-hide="authentication.isAuth"> <a ui-sref="signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>