Home page
<!--<form ng-submit="loginUser">
    <div class="row">
        <div>
            Username:
            <input type="text" class="form-control" name="Username" placeholder="User Name" maxlength="100" ng-model="Username" required />
        </div>
        <div>
            Password:
            <input type="password" class="form-control" name="Password" placeholder="Password" maxlength="100" ng-model="Password" required />
        </div>

        <div>
            <button type="submit">Login
            </button>
        </div>
    </div>
</form>-->