<div class="container">
    <ul>
        <li class="text-muted">
            Copyright © 2016 Loopscale Inc.
        </li>
        <li class="text-red">
            All Rights Reserved
        </li>
        <li class="text-red ">
            <a href="#">Terms & Condition</a>
        </li>
        <li class="text-red">
            Follow us on
        </li>
        <li>
            <a target="_blank" href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
        </li>
        <li> 
            <a target="_blank" href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
        </li>
        <li>
            <a target="_blank" href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
        </li>

    </ul>
</div>
