<nav ng-init="doInit" ng-controller="commonController" role="navigation" class="navbar navbar-default navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Home</a>
        </div>

        <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="$root.authenticated">
                    <span class="gray-text">Your current role {{ $root.role }}</span>
                </li>
                <li ng-show="$root.authenticated">
                    Welcome <a href="" ng-click="navigateDashboard()">{{$root.firstName }}</a>
                </li>
                <li ng-show="$root.authenticated">
                    <a href="#/" ui-sref="register"><span class="gray-text">Register</span></a>
                </li>
                <li ng-show="$root.authenticated">
                    <a href="#/" ui-sref="editProfile"><span class="gray-text">Profile</span></a>
                </li>
                <li ng-show="$root.authenticated">
                    <a href="#/" ng-click="logOut()"> <span class="gray-text">Logout</span></a>
                </li>
                <li ng-show="!$root.authenticated">
                    <a href="#/"> <span class="gray-text">Login</span></a>
                </li>
                <li ng-show="!$root.authenticated">
                    <a href="#/" ui-sref="profile"> <span class="gray-text">Profile</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>