<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="app">
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
      <link href="content/css/loading-bar.css" rel="stylesheet" />
      <link href="content/css/style.css" rel="stylesheet" />
    </head>
    <body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <header>
            <!---------------------->

            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
                <div class="container">
                    <div class="navbar-header">
                        <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <a class="navbar-brand" href="#/">ClearWater Recovery</a>
                    </div>
                    <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                            <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                            <li data-ng-hide="!authentication.isAuth"><a href="#/orders">My Orders</a></li>
                            <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                            <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
                            <li data-ng-hide="authentication.isAuth"> <a href="#/login"><i class="fa fa-sign-in"></i> Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!---------------------->

        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div ng-view></div>
        </div>

        <!-- SPELLS -->
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-route.min.js"></script>

        <script src="scripts/angular-local-storage.min.js"></script>
        <script src="scripts/loading-bar.min.js"></script>
 
        <!--Reference to app.js-->
        <script src="app/app.js"></script>

        <!-- Load services -->
        <script src="app/service/authInterceptorService.js?v=2"></script>
        <script src="app/service/authService.js?v=2"></script>
        <script src="app/service/ordersService.js?v=2"></script>
        <script src="app/service/tokensManagerService.js?v=2"></script>

        <!--Referece to controllers-->
        <script src="app/controller/mainController.js"></script>
        <script src="app/controller/aboutController.js"></script>
        <script src="app/controller/contactController.js"></script>
        <script src="app/controller/loginController.js?v=2"></script>
        <script src="app/controller/ordersController.js"></script>
        <script src="app/controller/indexController.js"></script>
      
    </body>
    </html>
