<div class="row admin-header" ng-init="activate">
   
    <div class="col-xs-12 col-sm-6 pt-15">
        <form name="loginForm" class="form-horizontal" ng-submit="loginUser(loginForm.$valid,loginForm)" novalidate>
            <div class="has-error" ng-show="errorLoginMessage != ''">
                <div class="col-xs-2"></div>
                <div class="col-xs-10 has-error">
                    <p class="help-block">{{errorLoginMessage}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-5" ng-class="{ 'has-error': loginForm.Username.$touched && loginForm.Username.$invalid }">
                    <label for="Username" class="control-label sr-only">Userame:</label>
                    <input type="text" class="form-control" name="Username" placeholder="User Name" maxlength="100" ng-model="UserName" required />
                    <p ng-show="loginForm.Username.$invalid" ng-if="loginForm.Username.$touched" class="error help-block">Username is required</p>
                </div>
                <div class="col-xs-12 col-sm-5" ng-class="{ 'has-error': loginForm.Password.$touched && loginForm.Password.$invalid }">
                    <label for="Username" class="control-label sr-only">Password:</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password" maxlength="100" ng-model="Password" required />
                    <p ng-show="loginForm.Password.$invalid" ng-if="loginForm.Password.$touched" class="error help-block">Password is required</p>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <button type="submit" class="btn btn-primary" ng-disabled="$root.spinner">
                        Login
                        <span ng-show="$root.spinner"><i class="glyphicon spinning glyphicon-refresh"></i></span>
                    </button>
                </div>
            </div>
            
        </form>
        <a href="" data-ng-click="logoutUser()">Logout</a>
        <div class="row visible-xs-block">
            <div class="col-xs-12 col-sm-12">
                <a href="#/register">Not a member?</a>
            </div>
        </div>
    </div>

    <div class="row admin-main-content">
        <div class="col-xs-12 tagline">
        </div>
    </div>
   
</div>